---
import Layout from "../layouts/Layout.astro";
import Cart from "../components/cart/Cart";
import CartBox from "../components/cart/cartBox";
import Form from "../components/form/Form";
---

<Layout title="about">
  <div class="p-20">
    <h2>About</h2>
    <Form client:load />
    <Cart client:only="react" />
    <CartBox client:only="react" />
  </div>
</Layout>
