---
import Layout from "../layouts/Layout.astro";
import Cart from "../components/cart/Cart";
import CartBox from "../components/cart/cartBox";
---

<Layout title="cart">
  <!-- <div class="p-20">
    <h2></h2>
    <Cart client:only="react" />
    <CartBox client:only="react" />
  </div> -->
  <div class="max-w-[900px] mx-auto">
    <booking-calendar data-date={new Date()}></booking-calendar>
  </div>
</Layout>
