---
import Layout from "../layouts/Layout.astro";
import RivePlayer from "../components/rive/RivePlayer.jsx";

const Posts = await Astro.glob("./posts/*.mdx");

const ANIMATIONS = "/assets/animations/loaders.riv";
const ARTBOARDS = ["burger", "loader", "atom", "genuine"];
---

<Layout title="Skeleton">
  <div
    class="w-full flex flex-row justify-around items-center gap-y-20 flex-wrap py-20"
  >
    {
      ARTBOARDS.map((e) => (
        <RivePlayer animation={ANIMATIONS} artboard={e} client:visible />
      ))
    }
  </div>
</Layout>
