---
import Layout from "../layouts/Layout.astro";
import PostLayout from "../layouts/PostLayout.astro";

// const URL = `https://api.figma.com/v1/files/W4UnztO8pD0t0TONBmoc1U`;
// const TOKEN = "figd_J8QYVgxxZORWilKR1TE-xBfsspAfOM2LmEjX7JNd";
// const FIGMADATA = await fetch(URL, {
//   headers: { "X-Figma-Token": TOKEN },
// });

// const response = await FIGMADATA.json();
// console.log(response);
---

<Layout title="Skeleton Blog">
  <div>
    <div class="mx-auto max-w-7xl px-4 w-full">
      <div class="w-full flex items-center py-8 px-6 text-right">
        <h1 class="text-5xl font-thin text-secondary w-fit">Oceans</h1>
      </div>
    </div>
  </div>
</Layout>
