---
import "../global.css";
import { RivePlayerTwo } from "../components/rive/RivePlayer";
export interface Props {
  title: string;
}

const ROUTES = [
  { name: "Animation", href: "/" },
  { name: "Components", href: "/components/" },
  { name: "About", href: "/about/" },
];

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bluetree | {title}</title>
  </head>
  <body class="relative">
    <div class="grid grid-cols-1 md:grid-cols-[300px,1fr] relative align-start">
      <div class="relative md:sticky w-full h-fit top-0 bg-white z-50">
        <div class="w-[150px] h-[150px] mt-10 mx-auto md:ml-10">
          <RivePlayerTwo
            animation={"/assets/animations/loaders.riv"}
            artboard={"blue-tree"}
            stateMachine="state"
            client:load
          />
        </div>
        <ul class="mt-10">
          {
            ROUTES.map((e) => (
              <li class="w-fit pl-16 py-5 text-xl links duration-1000">
                <a class="hover:!text-blue-500" href={e.href}>
                  {e.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="w-full">
        <slot />
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
    ></script>
    <!-- <script src="../utils/scroll.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/gh/roborbob/astro-skeleton@latest/src/web/calendar.js"
    ></script>
    <!-- <script src="../web/calendar.js"></script> -->
    <!-- <script>
      import Rellax from "rellax";
      // Accepts any class name
      var rellax = new Rellax(".rellax");
    </script> -->
  </body>
</html>
