---
import Logo from "../assets/logo.svg";
import "../global.css";
import ThreeScene from "../components/three/ThreeScene";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <div
      class="fixed left-0 w-full h-auto md:w-[150px] lg:w-[200px] border-r-[2px] border-slate-800 md:h-screen z-10 bg-white"
    >
      <ul>
        <li
          class="w-full border-b-[1px] border-slate-800 text-slate-700 p-5 text-thin text-2xl"
        >
          <a href="/"> Animation</a>
        </li>
        <li
          class="w-full border-b-[1px] border-slate-800 text-slate-700 p-5 text-thin text-2xl"
        >
          <a href="/about/"> About</a>
        </li>
      </ul>
    </div>
    <div
      class="md:left-[150px] lg:left-[200px] absolute w-full top-[160px] md:top-0 md:w-[calc(100%-150px)] lg:w-[calc(100%-200px)]"
    >
      <slot />
    </div>
  </body>
</html>
